/* ==========================================================================
Main SCSS file / Fresh
========================================================================== */

// Imports
// @use 'abstracts/colors';
// @use 'abstracts/animations';
// @use 'layout/navbar';
// @use 'layout/sidebar';
// @use 'layout/sections';
// @use 'layout/hero';
// @use 'layout/footer';
// @use 'components/buttons';
// @use 'components/dropdowns';
// @use 'components/cards';
// @use 'components/forms';
// @use 'components/testimonials';
@use 'components/single_page';
@use 'components/modal';

// @use 'utilities/utils';
// @use 'layout/responsive';

$font-path: '/assets/fonts/';

@font-face {
  font-family: 'SimpleLineIcons';
  src: url('#{$font-path}simple-line-icons.ttf') format('truetype');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('#{$font-path}fontawesome-webfont.woff2') format('woff2'),
       url('#{$font-path}fontello.woff') format('woff');
}
