server {
	listen 80 default_server;
	listen [::]:80 default_server;

	root /srv/www/thomasparadis;

	index index.html index.htm index.nginx-debian.html;

	server_name thomasparadis.me www.thomasparadis.me;

	location / {
		proxy_pass http://localhost:4000;
	}
	location /juicebar {
		alias /srv/www/juicebar;
	}
	location /phonetic_dict {
		rewrite ^/phonetic_dict/*(.*) /$1 break;
		proxy_pass http://localhost:4002;
	}
	
	location /fetart {
		rewrite ^/fetart/*(.*) /$1 break;
		proxy_pass http://localhost:4004;
	}
		
}

server {
	listen 80;
	server_name fetart.ca www.fetart.ca fetart.thomasparadis.me www.fetart.thomasparadis.me;
	location / {
		proxy_pass http://localhost:4004;
	}	
}
server {
	listen 80;
	server_name crud.thomasparadis.me www.crud.thomasparadis.me;
	location / {
		proxy_pass http://localhost:4006;
	}
}
server {
  	listen 80;
	server_name phonetic.thomasparadis.me www.phonetic.thomasparadis.me;
	location / {
		proxy_pass http://localhost:4008;
	}
}
server {
	listen 80;
	
	root /srv/www/juicebar;
        index index.html index.htm index.nginx-debian.html;

        server_name juicebar.thomasparadis.me www.juicebar.thomasparadis.me;

        location / {
                try_files $uri $uri/ =404;
        }
}

