.modal {
    svg {
        margin-right: 10px;
    }
    .success svg {
        color:green;  
    }
    .error svg {
        color: red 
    }
    .container {
        display: flex;
        justify-content: center;
        .button  {
            margin-top:2rem;
            width: 200px;
        }
    }
}

.modal-content {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.modal.is-active .modal-content {
  opacity: 1;
  transform: scale(1);
}