/* ==========================================================================
Main SCSS file / Fresh
========================================================================== */
body {
  background-color: whitesmoke; }

.navbar {
  font-size: 21px;
  padding: 1em 1.5em;
  background-color: whitesmoke; }
  .navbar .navbar-brand {
    align-items: center; }
  .navbar .logo {
    display: flex;
    flex-direction: row !important;
    font-size: 30px; }
  .navbar .navbar-item:hover {
    background-color: inherit;
    color: inherit; }

.navbar-menu {
  background-color: inherit;
  box-shadow: none; }
  .navbar-menu .is-active {
    background-color: inherit !important; }

.navbar-burger span {
  height: 2px; }

.navbar-burger:hover {
  background-color: inherit; }

.paradis {
  font-size: 35px;
  transition: color 0.4s ease-out; }
  .paradis.about-me {
    color: #f42a52; }
  .paradis.projects {
    color: #46af6b; }
  .paradis.contact {
    color: #ab5af6; }

.navbar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem 1.2rem; }
  .navbar-item.is-active.about-me {
    color: #f42a52; }
  .navbar-item.is-active.projects {
    color: #46af6b; }
  .navbar-item.is-active.contact {
    color: #ab5af6; }

.navbar-item:hover:after, .is-active.navbar-item:after {
  transform: scaleX(1);
  transform-origin: center left;
  transition-duration: 0.4s;
  transition-timing-function: ease-out; }

.about-me.navbar-item:after {
  background-color: #f42a52; }

.projects.navbar-item:after {
  background-color: #46af6b; }

.contact.navbar-item:after {
  background-color: #ab5af6; }

.navbar-item:after {
  content: "";
  background-color: black;
  width: calc(100% + 20px);
  height: 3px;
  position: relative;
  bottom: -4px;
  transform: scaleX(0);
  transform-origin: center left;
  transition-duration: 0.4s;
  transition-timing-function: ease-out; }

.hr-wrap {
  display: flex;
  justify-content: center; }
  .hr-wrap hr {
    background-color: #f42a52;
    width: 50%; }

.column.media {
  display: flex;
  align-items: center;
  justify-content: center; }

.medaillon {
  height: 280px;
  border-radius: 140px;
  align-self: flex-start; }
  @media screen and (min-width: 769px), print {
    .medaillon {
      margin-top: 15vh; } }

.columns.reversed {
  flex-direction: row-reverse; }

.projects img {
  border-radius: 15px; }

.download-link {
  color: black;
  font-weight: bold;
  font-size: 20px;
  transition: color 0.3s ease-out; }
  .download-link:hover {
    color: #f42a52; }
  .download-link > svg {
    margin-right: 8px;
    font-size: 30px; }

::-webkit-scrollbar {
  width: 7px; }

::-webkit-scrollbar-track {
  background-color: inherit; }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #f42a52; }
